<html lang="">
<head>
    <script type="text/javascript" src="api.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
    </script>
    <title>C++ Quiz</title>
</head>
<body>

<div id="app">
    Server state: {{ server_state }} <br/>
    UUID: {{ uuid }} <br/>
    Message: {{ message }} <br/>
    <button v-if="!quiz_started" @click="start_quiz">Start quiz</button>
    <button v-if="quiz_started" @click="stop_quiz">Stop quiz</button>

    <div v-if="quiz_started">
        The quiz has started!
    </div>

    <h2>Participants</h2>
    <ul>
        <li v-for="participant in participants">
            {{ participant.nickname }} ({{ participant.unique_id }}, {{ participant.connected }})
        </li>
    </ul>
</div>

<script>
    const { createApp, ref } = Vue

    if (!localStorage.getItem('unique_id'))
        localStorage.setItem('unique_id', uuidv4());
    unique_id = localStorage.getItem('unique_id');

    if (!localStorage.getItem('nickname'))
        localStorage.setItem('nickname', 'Anonymous Bastard');
    nickname = localStorage.getItem('nickname');

    let api = null;
    let app = createApp({
        data() {
            return {
                server_state: 'initializing',
                message: '',
                uuid: unique_id,
                participants: [],
                quiz_started: false,
            }
        },
        methods: {
            start_quiz() {
                api.send({'msg': 'start_quiz'});
            },
            stop_quiz() {
                api.send({'msg': 'stop_quiz'});
            },
        },
        watch: {
        }
    }).mount('#app')

    api = new API('quizmaster', unique_id, function (status) {
        app.$data.server_state = status;
    }, function (message) {
        console.log(message);
        if (message['msg'] === 'hello') {
            app.$data.message = message['value'];
            app.$data.quiz_started = message['quiz_started'];
        }
        else if (message['msg'] === 'participants') {
            app.$data.participants = message['value'];
        }
        else if (message['msg'] === 'quiz_started') {
            app.$data.quiz_started = message['value'];
        }
    }, function () {
        api.send({'msg': 'hello'});
    }, function () {});
</script>

</body>
</html>
