<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="api.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@3"></script>
    <title>C++ Quiz</title>
</head>
<body>

<div id="app">
    <section v-if="!quiz_started" class="section">
        <div class="container">
            <p class="block">
                <figure class="image is-128x128" style="float: right;">
                    <img class="is-rounded" src="dutchcpp.png">
                </figure>
            </p>
            <h1 class="title">
                C++ Quiz
            </h1>
            <p class="subtitle">
                Welcome to the <strong>Dutch C++ Meetup</strong>!
                <div class="tags has-addons">
                    <span class="tag is-dark">server state</span>
                    <span class="tag is-info">{{ server_state }}</span>
                </div>
            </p>
            <p class="block">
                Please enter your (nick)name below.
            </p>
            <div class="block">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" v-model="nickname" placeholder="Type your nickname">
                    </div>
                </div>
            </div>
            <p class="block">
                The quiz has not started yet! Please wait...
            </p>
        </div>
    </section>
    <section v-if="quiz_started" class="section">
        <div class="container">
            <h1 class="title">
                C++ Quiz
            </h1>
            <p class="subtitle">
                <div class="tags has-addons">
                    <span class="tag is-dark">server state</span>
                    <span class="tag is-info">{{ server_state }}</span>
                </div>
            </p>
            <div class="block">
                Your nickname is: <strong>{{ nickname }}</strong>
            </div>
            <h2 class="subtitle">Next question:</h2>
            <h1 v-if="current_question" class="title">{{ current_question.question }}</h1>
            <h2 v-if="countdown" class="subtitle">Seconds remaining: {{ countdown }}</h2>

            <div v-for="(answer, index) in current_question.answers">
                <p class="block">
                    <button v-if="answering_time && is_chosen_answer(current_question, index)" class="button is-medium is-info is-fullwidth            " v-model="answer" @click="set_answer(current_question.quiz_id, current_question.question_id, index)">{{ answer }}</button>
                    <button v-if="answering_time && !is_chosen_answer(current_question, index)" class="button is-medium is-info is-fullwidth is-outlined" v-model="answer" @click="set_answer(current_question.quiz_id, current_question.question_id, index)">{{ answer }}</button>
                </p>
                <p class="block">
                    <button v-if="!answering_time && is_chosen_answer(current_question, index) && !is_answer_correct(current_question.question_id, index)" disabled class="button is-medium is-danger is-fullwidth" v-model="answer" @click="set_answer(current_question.quiz_id, current_question.question_id, index)">{{ answer }}</button>
                    <button v-if="!answering_time && !is_chosen_answer(current_question, index) && !is_answer_correct(current_question.question_id, index)" disabled class="button is-medium is-info is-fullwidth is-outlined" v-model="answer" @click="set_answer(current_question.quiz_id, current_question.question_id, index)">{{ answer }}</button>
                    <button v-if="!answering_time && is_chosen_answer(current_question, index) && is_answer_correct(current_question.question_id, index)" disabled class="button is-medium is-primary is-fullwidth" v-model="answer" @click="set_answer(current_question.quiz_id, current_question.question_id, index)">{{ answer }}</button>
                    <button v-if="!answering_time && !is_chosen_answer(current_question, index) && is_answer_correct(current_question.question_id, index)" disabled class="button is-medium is-primary is-fullwidth is-outlined" v-model="answer" @click="set_answer(current_question.quiz_id, current_question.question_id, index)">{{ answer }}</button>
                </p>
            </div>
        </div>
    </section>
</div>

<script>
    const { createApp, ref } = Vue

    if (!localStorage.getItem('unique_id'))
        localStorage.setItem('unique_id', uuidv4());
    unique_id = localStorage.getItem('unique_id');

    if (!localStorage.getItem('nickname'))
        localStorage.setItem('nickname', 'Anonymous Bastard');
    nickname = localStorage.getItem('nickname');

    if (!localStorage.getItem('answers3'))
        localStorage.setItem('answers3', "{}");
    answers = JSON.parse(localStorage.getItem('answers3'));

    function fix_answers(app) {
        try {
            new_answers = [];
            for (let answer of app.$data.current_question.answers) {
                console.log('check', answer);
                if (answer[1] == ')') {
                    new_answers.push("" + answer[0]);
                }
            }
            app.$data.current_question.answers = new_answers;
        } catch (e) {}
    }

    let countdown = null;

    let api = null;
    let app = createApp({
        data() {
            return {
                server_state: 'initializing',
                message: '',
                nickname: nickname,
                uuid: unique_id,
                quiz_started: false,
                current_question: {},
                local_answers: answers,
                answering_time: false,
                countdown: '',
                solutions: {},
            }
        },
        watch: {
            nickname(newnick, _) {
                localStorage.setItem('nickname', newnick);
                if (api) {
                    api.send({'msg': 'set_nickname', 'nickname': newnick});
                }
            }
        },
        methods: {
            set_answer(quiz_id, question_id, answer_idx) {
                if (!(quiz_id in app.$data.local_answers)) {
                    app.$data.local_answers[quiz_id] = {};
                }
                app.$data.local_answers[quiz_id][question_id] = answer_idx;
                localStorage.setItem('answers3', JSON.stringify(app.$data.local_answers));
                api.send({'msg': 'set_answers', 'answers': app.$data.local_answers});
            },
            clear_local_storage() {
                localStorage.setItem('answers3', "{}");
            },
            is_answer_correct(question_id, answer_id) {
                try {
                    for (let answer of app.$data.solutions) {
                        if (answer["question_id"] == question_id &&
                            answer["answer_id"] == answer_id) {
                            return true;
                        }
                    }
                } catch (e) {}
                return false;
            },
            is_chosen_answer(current_question, index) {
                return (current_question.quiz_id in this.$data.local_answers && current_question.question_id in this.$data.local_answers[current_question.quiz_id] && this.$data.local_answers[current_question.quiz_id][current_question.question_id] === index)
            }
        }
    }).mount('#app')

    api = new API('participant', unique_id, function (status) {
        app.$data.server_state = status;
    }, function (message) {
        if (message['msg'] === 'hello') {
            app.$data.message = message['value'] + "!!!";
            app.$data.quiz_started = message['quiz_started'];
            app.$data.current_question = message['current_question'];
            fix_answers(app);
            app.$data.answering_time = message['answering_time'];
            // send nickname in case user updated it during a disconnected state
            api.send({'msg': 'set_nickname', 'nickname': app.$data.nickname});
            // whatever we had cached for answers, send it
            api.send({'msg': 'set_answers', 'answers': app.$data.local_answers});
        }
        else if (message['msg'] === 'set_nickname') {
            app.$data.message = message['value'];
        }
        else if (message['msg'] === 'start_quiz') {
            app.$data.quiz_started = message["value"];
        }
        else if (message['msg'] === 'set_question') {
            app.$data.current_question = message["value"];
            fix_answers(app);
        }
        else if (message['msg'] === 'set_answering_time') {
            app.$data.answering_time = message["value"];
            if (!app.$data.answering_time) {
                app.$data.question_state = 0;
            } else {
                let current_count = 10;
                let counter = function () {
                    app.$data.countdown = '' + current_count;
                    if (current_count == 0) {
                        app.$data.countdown = '';
                        return;
                    }
                    if (countdown) clearInterval(countdown);
                    countdown = setTimeout(counter, 1000);
                    current_count--;
                };
                counter();
            }
        }
        else if (message['msg'] === 'solution') {
            app.$data.solutions = message["value"];
        }
    }, function () {
        api.send({'msg': 'hello'});
    }, function () {});
</script>

</body>
</html>
